<!DOCTYPE html>
<html>
<head>
	<title>SavR Customers </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">What would you like to eat? </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'food.png') }}" id="icon" alt="Food Icon" />
    </div>

    <!-- Buy Package Form -->
    <form action="http://127.0.0.1:5000//buy" method="POST">
      <input type="text" id="rest_name" class="fadeIn second" name="rest_name" placeholder="Restaurant name">
      <input type="text" id="cuisine" class="fadeIn second" name="cuisine" placeholder="Cuisine">
      <input type="submit" class="fadeIn fourth" value="Buy item">
    </form>

  </div>
</div>
</body>
</html>